{% extends 'layout.html' %}

<!-- ========== Adding CSS  link style ============ -->
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/footer.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/popup1.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/card.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/home_popUp.css') }}">
{% endblock css %}

<!-- ======= Page Content ========== -->

{% block content %}

{% for parent, child_pagination in categories.items() %}
<div class="row">

   
    <div style="color:white; align-items: center; text-align: center;">
      <h2 style="padding-top: 90px; padding-bottom: 20px;">{{ parent.category }}</h2>

    </div>
    {% for child in child_pagination.items %}
    <a onclick="openModal('{{ child.image }}')" >
    <div class="column cards rgb gallery">
    <div class="card ">
      <img src="{{ url_for('static', filename='images/' + child.image) }}" style="width:100%">
    </div>
    </div>
  </a>
    {% endfor %}
    <div id="delete-modal" class="modal" onclick="closeModal()">
          <div class="container">
              <img src="" alt="" id="item-id">
          </div>
      </div>
      </div>
     </div>      
  </div>

  <div style="text-align: center; color: white; ">
    {% if child_pagination.has_prev %}
    <a href="{{ url_for('paginate_home_pictures', id=parent.id, page=child_pagination.prev_num) }}" class="btn btn-info btn-sm mt-3"> Prev </a>
    {% endif %}

    {% for page_num in child_pagination.iter_pages(left_edge=1, right_edge=2, left_current=2, right_current=3) %}
    {% if page_num %}
    {% if child_pagination.page == page_num %}
    <a href="{{ url_for('paginate_home_pictures',  id=parent.id, page=page_num) }}" class="btn btn-info btn-sm mt-3"> {{ page_num }} </a>
    {% else %}
    <a href="{{ url_for('paginate_home_pictures', id=parent.id, page=page_num) }}" class="btn btn-outline-info btn-sm mt-3"> {{ page_num }} </a>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% if child_pagination.has_next %}
    <a href="{{ url_for('paginate_home_pictures', id=parent.id, page=child_pagination.next_num) }}" class="btn btn-info btn-sm mt-3"> Next </a>
    {% endif %}
   </div>
  
  {% endfor %}

  <script>
    // Get the modal

    var modal = document.getElementById("delete-modal");
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks the button, open the modal
    function openModal(itemId) {
        modal.style.display = "block";
        console.log('../../images' +  itemId)
        document.getElementById("item-id").src = '/static/images/' +  itemId;
    }
    
    // When the user clicks on <span> (x), close the modal
    function closeModal() {
        modal.style.display = "none";
    }
  </script>

<!-- ======== Navbar ===========-->
{% include 'navbar.html' %}


<!-- ======== Footer =========== -->
{% include 'footer.html' %}
{% endblock content %}
