{% extends 'layout.html' %}

<!-- ========== Adding CSS  link style ============ -->
{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/home/navbar.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/footer.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home/card.css') }}">
{% endblock css %}

<!-- ======= Page Content ========== -->

{% block content %}

{% for category in categories %}
<div class="row">

   
    <div style="color:white; align-items: center; text-align: center;">
      <h2 style="padding-top: 90px; padding-bottom: 20px;">{{ category.category }}</h2>
      <hr style="border-top: 5px solid white; margin-bottom: 20px;">
    </div>
    {% for photo in category.addpicture %}
    <a href="#" target="_blank">
    <div class="column cards rgb">
    <div class="card">
    <img src="{{ url_for('static', filename='images/' + photo.image) }}" style="width:100%">
    </div>
    </div>
    </a>
    {% endfor %}
                 
  </div>  
  {% endfor %}
<!-- ======== Navbar ===========-->
{% include 'navbar.html' %}


<!-- ======== Footer =========== -->
{% include 'footer.html' %}
{% endblock content %}
