#fullpage {
    display: none;
    position: absolute;
    z-index: 9999;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 80vh;
    background-size: contain;
    background-repeat: no-repeat no-repeat;
    background-position: center center;
    background-color: black;
    /* padding-top: 40px; */
}