{%  extends 'layout.html' %}


{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/login.css') }}">
{% endblock css %}


{% block content %}

<div class="login-box">
    <h2>Login</h2>
    <form enctype="multipart/form-data" method="post">
      <div class="user-box">
        <input type="text" name="" required="">
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" name="" required="">
        <label>Password</label>
      </div>
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
    </form>
  </div>
  
  
{% endblock content %}