{% extends 'admin_layout.html' %}

{% block main %}

<div class="report-container">
    <div class="report-header">
        <h1 class="recent-Articles">Recent Articles</h1>
        <button class="view">Add picture</button>
    </div>

    <div class="report-body">
        <div class="report-topic-heading">
            <h3 class="t-op">Comment</h3>
            <h3 class="t-op">Images</h3>
            <h3 class="t-op">Edit</h3>
            <h3 class="t-op">Delete</h3>
        </div>

        <div class="items">
            <div class="item1">
                <h3 class="t-op-nextlvl">Article 73</h3>
                <h3 class="t-op-nextlvl">2.9k</h3>
                <h3 class="t-op-nextlvl">210</h3>
                <h3 class="t-op-nextlvl label-tag">Published</h3>
            </div>

        </div>
    </div>
</div>
</div>

{% endblock main %}