{% extends 'admin_layout.html' %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/admin/setting_forms.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock css %}


{% block main %}

<form action="" method="POST" enctype="multipart/form-data">
    <h2>Change Password Form</h2>
    <div class="input-container">
        <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Old-password" name="old-password" required='required'>
    </div>
  
    <div class="input-container">
        <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="New-password" name="new-password" required='required'>
    </div>
  
    <div class="input-container">
      <i class="fa fa-key icon"></i>
      <input class="input-field" type="password" placeholder="Retype-Password" name="password" required='required'>
    </div>
  
    <button type="submit" class="btn">Confirm</button>
  </form> 


    <h2 style="margin-top: 20px;">
        Upload Profile Picture
      </h2>
    
      <form action="" method="POST">
        <div class="formbold-form-wrapper">
        <div class="mb-6 pt-4">
  
          <div class="formbold-mb-5 formbold-file-input">
            <input type="file" name="file" id="file" />
            <label for="file">
              <div>
                <span class="formbold-drop-file"> Drop files here </span>
                <span class="formbold-or"> Or </span>
                <span class="formbold-browse"> Browse </span>
              </div>
            </label>
          </div>
        </div>
    </div>
          <button class="btn">Upload</button>
      </form>
   
{% endblock main %}