
<nav class="navbar">
    
<!-- LOGO -->

<div class="logo">ForeverSammy</div>

<!-- NAVIGATION MENU -->

<ul class="nav-links">

<!-- USING CHECKBOX HACK -->

<input type="checkbox" id="checkbox_toggle" />

<label for="checkbox_toggle" class="hamburger">&#9776;</label>

<!-- NAVIGATION MENUS -->

<div class="menu">

<li><a href="{{ url_for('home')}}">Home</a></li>

<li><a href="{{ url_for('about')}}">About</a></li>

<li><a href="{{ url_for('gallery')}}">Gallery</a></li>

<li><a href="{{ url_for('contact')}}">Contact</a></li>

</div>

</ul>

</nav>

